@import './colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#__next {
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-tertiary-color);
    flex-direction: column;
}

.navbar {
    @apply
    w-[90vw]
    h-[10vh]
    lg:w-[95vw]
    flex
    justify-between
    items-center
    text-white
    p-4;
}

.logo {
    @apply
    no-underline
    text-white
    font-bold
    text-[25px]
    [text-shadow:0_0_10px_#CCC,_0_0_20px_#CCC,_0_0_30px_#CCC,_0_0_40px_#CCC,_0_0_50px_#CCC]
}

.main {
    @apply
    w-[90vw]
    h-[90vh]
    lg:w-[95vw]
    bg-white
    rounded-[20px];
}

.btn-primary {
    @apply
    flex
    rounded-[15px]
    md:rounded-[20px]
    bg-[#123524]
    hover:bg-[#0e2a1c]
    active:bg-[#0a1e15]
    shadow
    justify-center
    items-center
    text-white
    font-semibold
    disabled:opacity-60
    disabled:cursor-not-allowed
    transition-colors
    duration-150;
}

.btn-secondary {
    @apply
    flex
    items-center
    justify-center
    bg-[#F8F8F8]
    text-[#555]
    font-bold
    rounded-[20px]
    border-2
    border-[#CCC]
    shadow
    transition-colors
    duration-150;
}